.mm-hero-carousel .carousel-root .thumbs-wrapper .thumbs {
    width: 50vw;
    /* display: none !important; */
    /* background-color: wheat; */
    /* width: 100vw; */
    position: relative;
    display: flex;
    justify-content: center;
}


.mm-hero-carousel .carousel-root .thumbs-wrapper {
    margin-top: -60px;
    margin-bottom: 40px;
    z-index: 1000;
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;

}

.mm-hero-carousel .carousel-root .thumbs-wrapper .thumb {
    border-radius: 20px;
    /* border-color: rgb(0, 206, 0); */
}

.mm-hero-carousel .carousel-root .thumbs-wrapper .thumb.selected {
    border-radius: 20px;
    border-color: rgb(0, 206, 0);
}

.mm-hero-carousel .carousel-root .thumbs-wrapper .thumb img {
    border-radius: 16px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .mm-hero-carousel .control-dots .dot {
    padding: 10px;
    background: #fff;
}

.mm-hero-carousel .control-dots .dot.selected {
    background-color: rgb(0, 206, 0);
} */

.mm-hero-carousel .control-dots {
    display: none;
}